.citySelector {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 20px;
	select, option {
		width: 300px;
		background-color: #FFFFFF;
	}
	option:hover {
		background-color: var(--table-background-color);
	}
}
