@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');

:root {
	--table-background-color: #5383E4;
	--table-font-color: #D8D8D8;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Noto Sans JP', sans-serif;
	background-color: #C5EDF5;
	font-size: 14px;
}

@media only screen and (max-width: 550px) {
	* {
		font-size: 12px;
	}
}
